body{
    font-family: 'Poppins', sans-serif;
}
img{
    width: 500px;
    height: 600px;
    padding-bottom: 40px;
    margin-left: 6px;
}
.bg-color{
    background-color: lightgray;
}
h1{
    color: lightseagreen;
}
.calculate-btn{
    background-color: dodgerblue;
    color: white;
    border: none;
    padding: 8px;
    margin-left: 100px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5px;
}
.save-btn{
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 6px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 2px;
}
#box-model{
    padding-left: 50px;
    padding-top: 20px;
}
.income-tag{
    padding-left: 120px;
    padding-top: 5px;
}
.expenses-tag{
    padding-left: 120px;
}
.total-expenses{
    padding-left: 90px;
}
.balance-tag{
    padding-left: 100px;
}
.saving-amount{
    padding-left: 80px;
    padding-bottom: 3px;
}
.remaining-balance{
    padding-left: 80px;
    padding-bottom: 12px;
}